<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head lang="en">

<title>Bookstore.com</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container-fluid">
		<!-- Header -->
		<div th:replace="fragments/header :: header"></div>

		<div>
			<div id="sidebar" style="padding-top: 80px;">
				<div class="col-md-12">
					<ul class="nav nav-pills nav-stacked">
						<li th:each="submenu : ${#httpSession.getAttribute('sideMenus')}"><a
							th:if="${submenu.getUrl()} != null" href="#"
							th:text="${submenu.getName()}" th:href="${submenu.getUrl()}"></a>
							<a th:if="${submenu.getUrl()} == null" href="javascript:void(0);"
							th:text="${submenu.getName()}"
							th:attr="${submenu.getAttrName()}=${submenu.getAttrValue()}"></a>
						</li>
					</ul>
				</div>
			</div>

			<div id="main">
				<div>
					<ol class="breadcrumb">
						<li th:each="breadcrump : ${session.currentBreadCrumb}"
							th:classappend="${breadcrump.isCurrentPage()} ? 'active' : ''"
							class="breadcrumb-item"><a href="#"
							th:unless="${breadcrump.isCurrentPage()}"
							th:text="${breadcrump.getLabel()}"
							th:href="${breadcrump.getUrl()}"> </a><span
							th:if="${breadcrump.isCurrentPage()}"
							th:text="${breadcrump.getLabel()}" th:remove="tag"></span></li>
					</ol>
				</div>

				<div class="col-md-12" style="">
					<h2
						th:text="${#httpSession.getAttribute('activeBreadCrumb').getLabel()}"></h2>
					<div layout:fragment="content"></div>
				</div>

			</div>

		</div>
	</div>
	<div style="clear: both;"></div>

		<!-- Footer -->
		<div th:replace="fragments/footer :: footer"></div>
</body>
</html>