<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">
		<div th:fragment="header">
			<div sec:authorize="isAuthenticated()" class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<span class="pull-right" style="margin-right: 10px;"
						th:text="${'Logged in ' + currentUser.getFirstname() + ' ' +
    currentUser.getLastname()}"></span>
    
    			
    
				</div>
			</div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<ul class="nav navbar-nav">
							<li>
								<div style="margin-right: 70px;">
									<img src="../../static/images/tieto_logo.png"
										th:src="@{/images/tieto_logo.png}" />
								</div>

							</li>
							
							<li th:each="topmenu : ${topmenus}">										
						 		<a th:if="${topmenu.getUrl()} != null" href="#" th:text="${topmenu.getName()}"  
						 			th:href="${topmenu.getUrl()}"></a>
								<a th:if="${topmenu.getUrl()} == null" href="javascript:void(0);" 
								th:text="${topmenu.getName()}" th:attr="${topmenu.getAttrName()}=${topmenu.getAttrValue()}"></a>
									
							</li>




							<!-- 							<li><a href="javascript:void(0);" id="20170814163200">Show
									dialog</a></li> -->

							<!-- 							<li><a href="#" th:href="@{/}">Main</a></li>
							<li><a href="#" th:href="@{/login}">Login</a></li>
							<li><a href="#" th:href="@{/products}">Products</a></li>
							<li><a href="#" th:href="@{/product/new}">Create Product</a></li>
							<li><a href="#" th:href="@{/games}">Games</a></li>
							<li><a href="#" th:href="@{/sidebar}">Sidebar</a></li>
							<li><a href="javascript:void(0);" id="20170814163200">Show
									dialog</a></li> -->
						</ul>

					</div>

					<div sec:authorize="isAuthenticated()">
						<div class="navbar-right">
							<ul class="nav navbar-nav">
								<li><a href="javascript:void(0);" id="20170821154000">Logout</a></li>
							</ul>
						</div>
					</div>
				</div>
			</nav>

			<!-- Logout form -->
			<div sec:authorize="isAuthenticated()">
				<form id="logoutForm" method="POST" action="/logout">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>

</body>
</html>