html {
	
}

body {
	/* background-color: #eee; */
	/* font-family: 'Open Sans', sans-serif; */
	font-family: 'Varela Round', sans-serif;
	background: #F5F7FA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    color: #777;
}

.form-signin {
	max-width: 350px;
	padding: 15px;
	margin: 0 auto;
}

#sidebar {
	/* width: inherit; */
	min-width: 220px;
	max-width: 220px;
	/* background-color: #f5f5f5; */
	float: left;
/* 	min-height: 100%;
	height: 100%; */
	/* position: relative; */
	overflow-y: auto;
	/* overflow-x: hidden; */
}

#main {
/* 	height: 100%;
	min-height: 100%; */
	overflow: auto;
	margin-bottom: 50px;
}

.navbar-default {
	border: 0;
	background-color: #F5F7FA;
}

.breadcrumb {
	background-color: #F5F7FA;
}

.error-input-text-border {
	border-color: red;
}

.error-message-1 {
	color: red;
	margin-top:8px;
}

.btn-details {
    color: #fff;
    background-color: #FFBF00;
    border-color: #5E610B;

}

.panel-poweroff {
 	border-color: #8181F7;
}

.panel-poweroff>.panel-heading {
    color: #fff;
    background-color: #8181F7;
    border-color: #8181F7;
}

.text-poweroff {
	color: #8181F7;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.btn-back {
	color: #fff;
	background-color: #5882FA;
}





