<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/application.html}">
<head lang="en">



</head>
<body>

	<th:block layout:fragment="content">
		<form action="#" th:action="@{/book/add}" th:object="${bookForm}"
			method="post" class="form-horizontal">
			<fieldset>
				<!-- Hidden -->
				<input id="atmFormAtmIdInput" name="atmid" type="hidden"
					th:field="*{id}" />

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="atmidentifier">Book name</label>
					<div class="col-md-4">
						<input id="bookName" name="bookName" type="text" th:field="*{bookName}"
							th:errorclass="error-input-text-border"
							placeholder="Book name" class="form-control input-md"
							required="required">
					</div>
					<div class="col-md-4">
						<div class="error-message-1"
							th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">Type
							book name</div>
					</div>
				</div>
				
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="atmidentifier">Book ISBN</label>
					<div class="col-md-4">
						<input id="bookISBN" name="bookISBN" type="text" th:field="*{bookISBN}"
							th:errorclass="error-input-text-border"
							placeholder="Book ISBN" class="form-control input-md"
							required="required">
					</div>
					<div class="col-md-4">
						<div class="error-message-1"
							th:if="${#fields.hasErrors('bookISBN')}" th:errors="*{bookISBN}">Enter
							book ISBN</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label" for="signup"></label>
					<div class="col-md-4">
						<button
							th:text="${editButtonTitle != null}? ${editButtonTitle} : 'Add Book'"
							type="submit" id="employeeFormSubmitButton" name="signup"
							class="btn btn-success">Add Book</button>
					</div>
				</div>

			</fieldset>
		</form>
	</th:block>
</body>
</html>