<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/application.html}">
<head lang="en">


<style type="text/css" th:inline="text">
.table td.propname {
	font-size: 14px;
	color: #848484;
	vertical-align: middle;
}

.table td.propvalue {
	vertical-align: middle;
}

.table td.propvalue.error {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.table td.propvalue.warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.table td.propvalue.ok {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.table th.propname {
	font-size: 14px;
	color: #0489B1;
}

.btn.oval.danger {
	border-radius: 24px;
	border-color: #FE2E2E;
	background: none;
}

.btn.oval.warning {
	border-radius: 24px;
	border-color: #F7FE2E;
	background: none;
}

.btn.oval.poweroff {
	border-radius: 24px;
	border-color: #3A01DF;
	background: none;
}

.btn.oval.clearing {
	border-radius: 24px;
	border-color: #51308A;
	background: none;
}

.btn.oval.danger.clicked {
	background-color: #DF013A;
}

.btn.oval.warning.clicked {
	background-color: #F7FE2E;
}

.btn.oval.poweroff.clicked {
	background-color: #3A01DF;
	color: white;
}
</style>


</head>
<body>



	<th:block layout:fragment="content">
		<div class="row">
			<div>

				<div class="col-lg-4">
					<div class="btn-toolbar">

					</div>
				</div>

				<div>
					<form action="" method="GET" class="form-main">
						<label class="sr-only" for="search">Search</label>
						<div class="input-group">
							<input type="text" class="form-control input-search" name="q"
								id="search"
								placeholder="Find book ...">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-success">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span><span
										class="hidden-sm hidden-xs"> Search </span>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>


			<div class="clearfix"></div>
			<div>
				<div class="col-lg-3">Books
					[[${booksPage.getPageble().getOffset() + 1}]] -
					[[${booksPage.getPageSizeInfo()}]] of
					[[${booksPage.getCountOfAllBooks()}]]</div>
				<div class="center-block">
					<nav aria-label="Book state pages">
						<ul class="pager">
							<li><a
								th:classappend="${booksPage.getPreviousButtonClasses()}"
								th:href="@{/books(direction=previous)}" href="#">Previous</a></li>
							<li><a
								th:classappend="${booksPage.getNextButtonClasses()}"
								th:href="@{/books(direction=next)}" href="#">Next</a></li>
						</ul>
					</nav>
				</div>
			</div>



	<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>
						<p class="text-center">Book ISBN</p>
					</th>
					<th>
						<p class="text-center">Book name</p>
					</th>
					<th>
						<p class="text-center">Actions</p>
					</th>
				</tr>
			</thead>

			<tr th:each="book,iter : ${booksPage.getBookPage()}"
				data-th-attr="data-bookid=${book.getId()}">
				<td class="col-xs-1" th:text="${iter.index + 1}"></td>
				<td class="col-sm-2"><a href="#"> <img
						th:text="${' ' + book.getBookISBN()}" src="../../static/images/book.png"
						class="avatar" alt="Book" th:src="@{/images/book.png}" /></a></td>
				<td class="col-md-2" th:text="${book.getBookName()}"></td>

<!-- 				<td class="col-md-2 text-center" th:text="${atm.getAtmStatusType()}"
					th:classappend="${atm.getTextStatusClass()}"></td> -->

				<td class="col-md-2 text-center"><span class="vcenter"><a
						href="javascript:void(0);" class="edit" title="Edit"
						data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a></span> <span
					class="vcenter"> <a href="javascript:void(0);" class="delete"
						title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
				</span><!--  <span class="vcenter"> <a href="#"
						th:href="|/book/${book.getId()}/details|" class="btn btn-details" title="Details">Details</a>
				</span> --></td>

			</tr>
		</table>

		<div>
			<a href="#" th:href="@{/book/add}"
				class="btn btn-large btn-success">Add Book</a>
		</div>
			

		</div>
	</th:block>
</body>
</html>

















