<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Bookstore.com</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">


		<h2 class="text-center">BOOKSTORE.COM</h2>

		<div class="row text-center">
			<img src="../../static/images/bookstore.png" width="100"
				th:src="@{/images/bookstore.png}" />
		</div>

		<form class="form-signin" action="#" th:action="@{/login}"
			method="post">
			<span th:text="${message}"></span> <label for="inputEmail"
				class="sr-only">Email address</label> <input id="email" name="email"
				class="form-control" placeholder="Email address" required=""
				autofocus="" autocomplete="" type="email"></input> <label
				for="inputPassword" class="sr-only">Password</label> <input
				id="password" name="password" class="form-control" placeholder="Password"
				required="" type="password"></input>
			<div class="checkbox">
				<label> <input value="remember-me" type="checkbox"></input>
					Remember me
				</label>
			</div>
			<span class="alert-warning" th:text="${error}"></span> <input type="hidden"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
				in</button>
		</form>


			<div sec:authorize="isAuthenticated()">

			</div>
	</div>


</body>
</html>